.hover
{
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
		border-color: #A5ABFF;
		border-width: 1px;
}
.hover:hover
{
	box-shadow: 5px 10px 15px black;
}


#form-comentario
{
	border-style: dashed !important;
	border-width: 1px !important;
	border-color: gray !important;
}
table.table
{
	background-color: white;

}

input.input-xs
{
	height: 20px;
	font-size: 12px;
}
