.hover
{
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
	    -ms-transition: all .5s ease-in-out;
	     -o-transition: all .5s ease-in-out;
	        transition: all .5s ease-in-out;
}
.hover:hover
{
	box-shadow: 5px 10px 15px black;
}


#form-comentario
{
	border-style: dashed !important;
	border-width: 1px !important;
	border-color: gray !important;
}