.hover
{
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		 -o-transition: all .5s ease-in-out;
			transition: all .5s ease-in-out;
		border-color: #A5ABFF;
		border-width: 1px;
}
.hover:hover
{
	box-shadow: 5px 5px 10px #254c6c;
}


[v-cloak]{
  display: none;
}

.form-comentario
{
	border-style: dashed;
	border-width: 1px;
	border-color: gray;
}
.table
{
	background-color: white;

}

.input-xs
{
	height: 20px;
	font-size: 12px;
}

.btn-android{
	background-color: #a4c639;
	color: white;
	transition: .3s;
}

.btn-android:hover{
	box-shadow: 1px 1px 10px black;
	background-color: #BDE63D;
	color: white;
}
